@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Comfortaa', cursive;
}

