.wrap {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  background-color: #efebe9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
  min-height: 550px;
  min-width: 450px;
}

a {
  text-decoration: none;
  color: #000;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img {
  max-width: 50%;
  border-radius: 50%;
}

.button {
  width: 240px;
  height: 45px;
  outline: none;
  background: #6e6c6b;
  border-radius: 4px;
  box-shadow: none;
  font: normal normal 19px/ 30px 'Jost', sans-serif;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.title {
  font: normal normal 34px 'Jost', sans-serif;
}