.button {
  display: flex;
  min-width: 350px;
  justify-content: space-between;
  margin-bottom: 8%;
}

.click {
  width: 86px;
  height: 34px;
  font: normal normal 14px 'Jost', sans-serif;
}

.click:hover {
  cursor: pointer;
  transition: .2s ease;
}